* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
	line-height: 1.4;

	min-height: 100%;
	position: static;
}


h1,
h2,
h3,
h4 {
	letter-spacing: 0;
	font-weight: 700;
	font-style: normal
}
a {
	color: inherit;
	//text-decoration: none
}
a,
button,
input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
html {
	overflow-y: scroll
}
html,
body {
	//overflow-x: hidden
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
	margin: 0
}
p {
	margin-bottom: 30px
}
menu,
ol,
ul {
	padding: 0;
	list-style: none;
	list-style-image: none
}
figcaption {
	-webkit-nbsp-mode: normal
}

code {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	direction: ltr;
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
}