
.autosuggest {
	position: relative;

	&__suggestions-container {
		position: absolute;
		top: 100%;
		width: 100%;
		margin: 0;
		margin-top: -1px;
		padding: 0;
		list-style-type: none;
		border: 1px solid #aaa;
		background-color: #fff;
		font-family: Helvetica, sans-serif;
		font-weight: 300;
		font-size: 16px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		z-index: 2;
	}

	&__suggestion {
		cursor: pointer;
		padding: 10px 20px;

		&--focused {
			background-color: #ddd;
		}
	}

	&__input {
		width: 240px;
		height: 30px;
		padding: 10px 20px;
		font-family: Helvetica, sans-serif;
		font-weight: 300;
		font-size: 16px;
		border: 1px solid #aaa;
		border-radius: 4px;

		&:focus {
			outline: none;
		}
	}

	&--open & {
		&__input {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}