button,
.button {
	display: inline-block;
	font-size: 1.126rem;
	font-weight: 700;
	text-decoration: none;
	border: 1px solid #56B68B;
	border-radius: 4px;
	background: #56B68B;
	color: #FFF;
	line-height: 3rem;
	padding: 0 22px;
	//text-transform: uppercase;
	white-space: nowrap;

	&:hover {
		opacity: .8;
	}

	&--small {
		padding: 7px 14px;
	}

	&--round {
		border-radius: 999em;
		text-align: center;
	}
}