input[type=url],
input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select,
textarea {
	font-size: 1.25rem;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #555459;
	width: 100%;
	max-width: 100%;
	margin: 0;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
}