.link {
	color: inherit;
	//text-decoration: none;

	&--accent {
		color: #00ab6b;
		text-decoration: none;

		&:hover {
			color: #1c9963;
		}
	}

	&--darken {
		color: rgba(0, 0, 0, 0.44);

		&:hover {
			color: rgba(0, 0, 0, 0.6);
		}
	}

	&--primary {

	}
}

.icon-link {
	display: inline-block;
	white-space: nowrap;

	&__icon {
		display: inline-block;
		width: 29px;
		height: 29px;
		vertical-align: -9px;
		overflow: hidden;

		&--small {
			width: 25px;
			height: 25px;
			vertical-align: -7px;
		}

		&--green {
			svg {
				color: #00A034;
				fill: #00A034;
			}
		}

		&--dark {
			svg {
				color: rgba(0,0,0,.6);
				fill: rgba(0,0,0,.6);
			}

			&:hover {
				svg {
					fill: rgba(0,0,0,.8);
				}
			}
		}
	}

	&__text {
		display: inline-block;
		margin-left: 5px;
	}
}