
@gutter: 20px;

.v-margins-x-small {
	margin-top: floor((@gutter / 6));
	margin-bottom: floor((@gutter / 6));
}

.v-margins-small {
	margin-top: floor((@gutter / 4));
	margin-bottom: floor((@gutter / 4));
}

.v-margins {
	margin-top: floor((@gutter / 2));
	margin-bottom: floor((@gutter / 2));
}

.v-margins-large {
	margin-top: @gutter;
	margin-bottom: @gutter;
}

.l-margin-default {
	margin-left: floor((@gutter / 2));
}

.l-margin-medium {
	margin-left: floor((@gutter / 2) + 10px);
}

.b-margin-small {
	margin-bottom: floor((@gutter / 4));
}


.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}


.image {
    max-width: 100%;
    display: block;
}

.full-width {
	width: 100%;
}


.text-bold {
	font-weight: bold;
}
.text-normal {
	font-weight: normal;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}


.is-hidden {
	display: none;
}

.disable-pointer-events {
	pointer-events: none !important;
}